Team6Assignment5WebSite/App_WebReferences/Assignment3Service/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCoordFromAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCoordFromAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCoordFromAddressResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAddressFromCoord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commaseparatedcoords" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAddressFromCoordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAddressFromCoordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passphrase" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encryptedmessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passphrase" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DecryptStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AsciiConversion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stringtoconvert" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AsciiConversionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AsciiConversionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageFromAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageFromAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageFromAddressResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WordCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sentence" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WordCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WordCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateMajorRoutes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateMajorRoutesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateMajorRoutesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateRandomPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateRandomPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateRandomPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentTime">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FactorialAndPrimeNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FactorialAndPrimeNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FactorialAndPrimeNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCreditCardNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardnumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCreditCardNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateCreditCardNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoByZip">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoByZipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoByZipResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReverseString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReverseStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReverseStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateZip">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateZipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateZipResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidatePhone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidatePhoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidatePhoneResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateNPrimes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateNPrimesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateNPrimesResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="BMICalculator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="weightInPounds" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="htinFeet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="htinInches" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BMICalculatorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BMICalculatorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountryFromIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ipaddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountryFromIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountryFromIPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuickSortMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="commaSeparatedElements" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuickSortMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QuickSortMethodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sort">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numberSequence" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SortResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SortResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IndexOfElement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numberSequence" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="element" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IndexOfElementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IndexOfElementResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUSHoliday">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUSHolidayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUSHolidayResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUSHolidaysForYear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUSHolidaysForYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUSHolidaysForYearResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUSHolidaysInDateRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUSHolidaysInDateRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUSHolidaysInDateRangeResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfAnyType" nillable="true" type="tns:ArrayOfAnyType" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCoordFromAddressSoapIn">
    <wsdl:part name="parameters" element="tns:GetCoordFromAddress" />
  </wsdl:message>
  <wsdl:message name="GetCoordFromAddressSoapOut">
    <wsdl:part name="parameters" element="tns:GetCoordFromAddressResponse" />
  </wsdl:message>
  <wsdl:message name="GetAddressFromCoordSoapIn">
    <wsdl:part name="parameters" element="tns:GetAddressFromCoord" />
  </wsdl:message>
  <wsdl:message name="GetAddressFromCoordSoapOut">
    <wsdl:part name="parameters" element="tns:GetAddressFromCoordResponse" />
  </wsdl:message>
  <wsdl:message name="EncryptStringSoapIn">
    <wsdl:part name="parameters" element="tns:EncryptString" />
  </wsdl:message>
  <wsdl:message name="EncryptStringSoapOut">
    <wsdl:part name="parameters" element="tns:EncryptStringResponse" />
  </wsdl:message>
  <wsdl:message name="DecryptStringSoapIn">
    <wsdl:part name="parameters" element="tns:DecryptString" />
  </wsdl:message>
  <wsdl:message name="DecryptStringSoapOut">
    <wsdl:part name="parameters" element="tns:DecryptStringResponse" />
  </wsdl:message>
  <wsdl:message name="AsciiConversionSoapIn">
    <wsdl:part name="parameters" element="tns:AsciiConversion" />
  </wsdl:message>
  <wsdl:message name="AsciiConversionSoapOut">
    <wsdl:part name="parameters" element="tns:AsciiConversionResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageFromAddressSoapIn">
    <wsdl:part name="parameters" element="tns:GetImageFromAddress" />
  </wsdl:message>
  <wsdl:message name="GetImageFromAddressSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageFromAddressResponse" />
  </wsdl:message>
  <wsdl:message name="WordCountSoapIn">
    <wsdl:part name="parameters" element="tns:WordCount" />
  </wsdl:message>
  <wsdl:message name="WordCountSoapOut">
    <wsdl:part name="parameters" element="tns:WordCountResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateMajorRoutesSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateMajorRoutes" />
  </wsdl:message>
  <wsdl:message name="GenerateMajorRoutesSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateMajorRoutesResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateRandomPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateRandomPassword" />
  </wsdl:message>
  <wsdl:message name="GenerateRandomPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateRandomPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentTime" />
  </wsdl:message>
  <wsdl:message name="GetCurrentTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentTimeResponse" />
  </wsdl:message>
  <wsdl:message name="FactorialAndPrimeNumberSoapIn">
    <wsdl:part name="parameters" element="tns:FactorialAndPrimeNumber" />
  </wsdl:message>
  <wsdl:message name="FactorialAndPrimeNumberSoapOut">
    <wsdl:part name="parameters" element="tns:FactorialAndPrimeNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateCreditCardNumberSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateCreditCardNumber" />
  </wsdl:message>
  <wsdl:message name="ValidateCreditCardNumberSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateCreditCardNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetInfoByZipSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfoByZip" />
  </wsdl:message>
  <wsdl:message name="GetInfoByZipSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfoByZipResponse" />
  </wsdl:message>
  <wsdl:message name="ReverseStringSoapIn">
    <wsdl:part name="parameters" element="tns:ReverseString" />
  </wsdl:message>
  <wsdl:message name="ReverseStringSoapOut">
    <wsdl:part name="parameters" element="tns:ReverseStringResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateEmail" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateZipSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateZip" />
  </wsdl:message>
  <wsdl:message name="ValidateZipSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateZipResponse" />
  </wsdl:message>
  <wsdl:message name="ValidatePhoneSoapIn">
    <wsdl:part name="parameters" element="tns:ValidatePhone" />
  </wsdl:message>
  <wsdl:message name="ValidatePhoneSoapOut">
    <wsdl:part name="parameters" element="tns:ValidatePhoneResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateNPrimesSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateNPrimes" />
  </wsdl:message>
  <wsdl:message name="GenerateNPrimesSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateNPrimesResponse" />
  </wsdl:message>
  <wsdl:message name="BMICalculatorSoapIn">
    <wsdl:part name="parameters" element="tns:BMICalculator" />
  </wsdl:message>
  <wsdl:message name="BMICalculatorSoapOut">
    <wsdl:part name="parameters" element="tns:BMICalculatorResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountryFromIPSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountryFromIP" />
  </wsdl:message>
  <wsdl:message name="GetCountryFromIPSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountryFromIPResponse" />
  </wsdl:message>
  <wsdl:message name="QuickSortMethodSoapIn">
    <wsdl:part name="parameters" element="tns:QuickSortMethod" />
  </wsdl:message>
  <wsdl:message name="QuickSortMethodSoapOut">
    <wsdl:part name="parameters" element="tns:QuickSortMethodResponse" />
  </wsdl:message>
  <wsdl:message name="SortSoapIn">
    <wsdl:part name="parameters" element="tns:Sort" />
  </wsdl:message>
  <wsdl:message name="SortSoapOut">
    <wsdl:part name="parameters" element="tns:SortResponse" />
  </wsdl:message>
  <wsdl:message name="IndexOfElementSoapIn">
    <wsdl:part name="parameters" element="tns:IndexOfElement" />
  </wsdl:message>
  <wsdl:message name="IndexOfElementSoapOut">
    <wsdl:part name="parameters" element="tns:IndexOfElementResponse" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidaySoapIn">
    <wsdl:part name="parameters" element="tns:GetUSHoliday" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidaySoapOut">
    <wsdl:part name="parameters" element="tns:GetUSHolidayResponse" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidaysForYearSoapIn">
    <wsdl:part name="parameters" element="tns:GetUSHolidaysForYear" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidaysForYearSoapOut">
    <wsdl:part name="parameters" element="tns:GetUSHolidaysForYearResponse" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidaysInDateRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetUSHolidaysInDateRange" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidaysInDateRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetUSHolidaysInDateRangeResponse" />
  </wsdl:message>
  <wsdl:message name="GetCoordFromAddressHttpGetIn">
    <wsdl:part name="address" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCoordFromAddressHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAddressFromCoordHttpGetIn">
    <wsdl:part name="commaseparatedcoords" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAddressFromCoordHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EncryptStringHttpGetIn">
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="passphrase" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EncryptStringHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DecryptStringHttpGetIn">
    <wsdl:part name="encryptedmessage" type="s:string" />
    <wsdl:part name="passphrase" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DecryptStringHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AsciiConversionHttpGetIn">
    <wsdl:part name="stringtoconvert" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AsciiConversionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetImageFromAddressHttpGetIn">
    <wsdl:part name="address" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetImageFromAddressHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WordCountHttpGetIn">
    <wsdl:part name="sentence" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WordCountHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SendEmailHttpGetIn">
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendEmailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateMajorRoutesHttpGetIn">
    <wsdl:part name="address" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateMajorRoutesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateRandomPasswordHttpGetIn">
    <wsdl:part name="size" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateRandomPasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrentTimeHttpGetIn" />
  <wsdl:message name="GetCurrentTimeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FactorialAndPrimeNumberHttpGetIn">
    <wsdl:part name="number" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FactorialAndPrimeNumberHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidateCreditCardNumberHttpGetIn">
    <wsdl:part name="cardnumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateCreditCardNumberHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetInfoByZipHttpGetIn">
    <wsdl:part name="zip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetInfoByZipHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReverseStringHttpGetIn">
    <wsdl:part name="message" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReverseStringHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailHttpGetIn">
    <wsdl:part name="emailid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidateZipHttpGetIn">
    <wsdl:part name="zip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateZipHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidatePhoneHttpGetIn">
    <wsdl:part name="phone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidatePhoneHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateNPrimesHttpGetIn">
    <wsdl:part name="n" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateNPrimesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfAnyType" />
  </wsdl:message>
  <wsdl:message name="BMICalculatorHttpGetIn">
    <wsdl:part name="weightInPounds" type="s:string" />
    <wsdl:part name="htinFeet" type="s:string" />
    <wsdl:part name="htinInches" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BMICalculatorHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCountryFromIPHttpGetIn">
    <wsdl:part name="ipaddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCountryFromIPHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QuickSortMethodHttpGetIn">
    <wsdl:part name="n" type="s:string" />
    <wsdl:part name="commaSeparatedElements" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QuickSortMethodHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SortHttpGetIn">
    <wsdl:part name="numberSequence" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SortHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IndexOfElementHttpGetIn">
    <wsdl:part name="numberSequence" type="s:string" />
    <wsdl:part name="element" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IndexOfElementHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidayHttpGetIn">
    <wsdl:part name="year" type="s:string" />
    <wsdl:part name="month" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidayHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidaysForYearHttpGetIn">
    <wsdl:part name="Year" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidaysForYearHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidaysInDateRangeHttpGetIn">
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidaysInDateRangeHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetCoordFromAddressHttpPostIn">
    <wsdl:part name="address" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCoordFromAddressHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAddressFromCoordHttpPostIn">
    <wsdl:part name="commaseparatedcoords" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAddressFromCoordHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EncryptStringHttpPostIn">
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="passphrase" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EncryptStringHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DecryptStringHttpPostIn">
    <wsdl:part name="encryptedmessage" type="s:string" />
    <wsdl:part name="passphrase" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DecryptStringHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AsciiConversionHttpPostIn">
    <wsdl:part name="stringtoconvert" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AsciiConversionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetImageFromAddressHttpPostIn">
    <wsdl:part name="address" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetImageFromAddressHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WordCountHttpPostIn">
    <wsdl:part name="sentence" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WordCountHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SendEmailHttpPostIn">
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendEmailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateMajorRoutesHttpPostIn">
    <wsdl:part name="address" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateMajorRoutesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateRandomPasswordHttpPostIn">
    <wsdl:part name="size" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateRandomPasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrentTimeHttpPostIn" />
  <wsdl:message name="GetCurrentTimeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FactorialAndPrimeNumberHttpPostIn">
    <wsdl:part name="number" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FactorialAndPrimeNumberHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidateCreditCardNumberHttpPostIn">
    <wsdl:part name="cardnumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateCreditCardNumberHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetInfoByZipHttpPostIn">
    <wsdl:part name="zip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetInfoByZipHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReverseStringHttpPostIn">
    <wsdl:part name="message" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReverseStringHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailHttpPostIn">
    <wsdl:part name="emailid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidateZipHttpPostIn">
    <wsdl:part name="zip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateZipHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidatePhoneHttpPostIn">
    <wsdl:part name="phone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidatePhoneHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateNPrimesHttpPostIn">
    <wsdl:part name="n" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateNPrimesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfAnyType" />
  </wsdl:message>
  <wsdl:message name="BMICalculatorHttpPostIn">
    <wsdl:part name="weightInPounds" type="s:string" />
    <wsdl:part name="htinFeet" type="s:string" />
    <wsdl:part name="htinInches" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BMICalculatorHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCountryFromIPHttpPostIn">
    <wsdl:part name="ipaddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCountryFromIPHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QuickSortMethodHttpPostIn">
    <wsdl:part name="n" type="s:string" />
    <wsdl:part name="commaSeparatedElements" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QuickSortMethodHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SortHttpPostIn">
    <wsdl:part name="numberSequence" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SortHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IndexOfElementHttpPostIn">
    <wsdl:part name="numberSequence" type="s:string" />
    <wsdl:part name="element" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IndexOfElementHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidayHttpPostIn">
    <wsdl:part name="year" type="s:string" />
    <wsdl:part name="month" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidayHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidaysForYearHttpPostIn">
    <wsdl:part name="Year" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidaysForYearHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidaysInDateRangeHttpPostIn">
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUSHolidaysInDateRangeHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetCoordFromAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the latitude and longitude from a valid address</wsdl:documentation>
      <wsdl:input message="tns:GetCoordFromAddressSoapIn" />
      <wsdl:output message="tns:GetCoordFromAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAddressFromCoord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes comma separated latitude and longitude and returns valid address</wsdl:documentation>
      <wsdl:input message="tns:GetAddressFromCoordSoapIn" />
      <wsdl:output message="tns:GetAddressFromCoordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EncryptString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Encrypts the message using the passphrase</wsdl:documentation>
      <wsdl:input message="tns:EncryptStringSoapIn" />
      <wsdl:output message="tns:EncryptStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DecryptString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Decrypts the message using the passphrase</wsdl:documentation>
      <wsdl:input message="tns:DecryptStringSoapIn" />
      <wsdl:output message="tns:DecryptStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AsciiConversion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes a string and returns its ascii value</wsdl:documentation>
      <wsdl:input message="tns:AsciiConversionSoapIn" />
      <wsdl:output message="tns:AsciiConversionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageFromAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes a valid address and returns a google image url</wsdl:documentation>
      <wsdl:input message="tns:GetImageFromAddressSoapIn" />
      <wsdl:output message="tns:GetImageFromAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WordCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes a sentence and returns the word count</wsdl:documentation>
      <wsdl:input message="tns:WordCountSoapIn" />
      <wsdl:output message="tns:WordCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends an email to the input email id from a default email id</wsdl:documentation>
      <wsdl:input message="tns:SendEmailSoapIn" />
      <wsdl:output message="tns:SendEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateMajorRoutes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Computes the route to the given address from North, South, East and West</wsdl:documentation>
      <wsdl:input message="tns:GenerateMajorRoutesSoapIn" />
      <wsdl:output message="tns:GenerateMajorRoutesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateRandomPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes a length and returns a random password of the given length</wsdl:documentation>
      <wsdl:input message="tns:GenerateRandomPasswordSoapIn" />
      <wsdl:output message="tns:GenerateRandomPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTime">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the current system time</wsdl:documentation>
      <wsdl:input message="tns:GetCurrentTimeSoapIn" />
      <wsdl:output message="tns:GetCurrentTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FactorialAndPrimeNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the factorial and whether the no. is prime or not</wsdl:documentation>
      <wsdl:input message="tns:FactorialAndPrimeNumberSoapIn" />
      <wsdl:output message="tns:FactorialAndPrimeNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCreditCardNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates a credit card and returns the type of credit card</wsdl:documentation>
      <wsdl:input message="tns:ValidateCreditCardNumberSoapIn" />
      <wsdl:output message="tns:ValidateCreditCardNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoByZip">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the city and state corresponding to a given zip</wsdl:documentation>
      <wsdl:input message="tns:GetInfoByZipSoapIn" />
      <wsdl:output message="tns:GetInfoByZipSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reverses a string</wsdl:documentation>
      <wsdl:input message="tns:ReverseStringSoapIn" />
      <wsdl:output message="tns:ReverseStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates email address</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailSoapIn" />
      <wsdl:output message="tns:ValidateEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateZip">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates zip code</wsdl:documentation>
      <wsdl:input message="tns:ValidateZipSoapIn" />
      <wsdl:output message="tns:ValidateZipSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePhone">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates US phone</wsdl:documentation>
      <wsdl:input message="tns:ValidatePhoneSoapIn" />
      <wsdl:output message="tns:ValidatePhoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateNPrimes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the first n prime nos.</wsdl:documentation>
      <wsdl:input message="tns:GenerateNPrimesSoapIn" />
      <wsdl:output message="tns:GenerateNPrimesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BMICalculator">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Calculates the body mass index</wsdl:documentation>
      <wsdl:input message="tns:BMICalculatorSoapIn" />
      <wsdl:output message="tns:BMICalculatorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryFromIP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the country to which the ip address belongs</wsdl:documentation>
      <wsdl:input message="tns:GetCountryFromIPSoapIn" />
      <wsdl:output message="tns:GetCountryFromIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QuickSortMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes comma separated values and sorts them using the Quick Sort algorithm</wsdl:documentation>
      <wsdl:input message="tns:QuickSortMethodSoapIn" />
      <wsdl:output message="tns:QuickSortMethodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sort">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes comma separated values and sorts them</wsdl:documentation>
      <wsdl:input message="tns:SortSoapIn" />
      <wsdl:output message="tns:SortSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IndexOfElement">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes a sequence of comma separated numbers and finds the index of the element after sorting the initial sequence</wsdl:documentation>
      <wsdl:input message="tns:IndexOfElementSoapIn" />
      <wsdl:output message="tns:IndexOfElementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUSHoliday">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes year and month in integer form and returns the list of holidays</wsdl:documentation>
      <wsdl:input message="tns:GetUSHolidaySoapIn" />
      <wsdl:output message="tns:GetUSHolidaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUSHolidaysForYear">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes year as integer and returns the list of holidays in that year</wsdl:documentation>
      <wsdl:input message="tns:GetUSHolidaysForYearSoapIn" />
      <wsdl:output message="tns:GetUSHolidaysForYearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUSHolidaysInDateRange">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes year as integer and returns the list of holidays in that year</wsdl:documentation>
      <wsdl:input message="tns:GetUSHolidaysInDateRangeSoapIn" />
      <wsdl:output message="tns:GetUSHolidaysInDateRangeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="GetCoordFromAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the latitude and longitude from a valid address</wsdl:documentation>
      <wsdl:input message="tns:GetCoordFromAddressHttpGetIn" />
      <wsdl:output message="tns:GetCoordFromAddressHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAddressFromCoord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes comma separated latitude and longitude and returns valid address</wsdl:documentation>
      <wsdl:input message="tns:GetAddressFromCoordHttpGetIn" />
      <wsdl:output message="tns:GetAddressFromCoordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EncryptString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Encrypts the message using the passphrase</wsdl:documentation>
      <wsdl:input message="tns:EncryptStringHttpGetIn" />
      <wsdl:output message="tns:EncryptStringHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DecryptString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Decrypts the message using the passphrase</wsdl:documentation>
      <wsdl:input message="tns:DecryptStringHttpGetIn" />
      <wsdl:output message="tns:DecryptStringHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AsciiConversion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes a string and returns its ascii value</wsdl:documentation>
      <wsdl:input message="tns:AsciiConversionHttpGetIn" />
      <wsdl:output message="tns:AsciiConversionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageFromAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes a valid address and returns a google image url</wsdl:documentation>
      <wsdl:input message="tns:GetImageFromAddressHttpGetIn" />
      <wsdl:output message="tns:GetImageFromAddressHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WordCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes a sentence and returns the word count</wsdl:documentation>
      <wsdl:input message="tns:WordCountHttpGetIn" />
      <wsdl:output message="tns:WordCountHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends an email to the input email id from a default email id</wsdl:documentation>
      <wsdl:input message="tns:SendEmailHttpGetIn" />
      <wsdl:output message="tns:SendEmailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateMajorRoutes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Computes the route to the given address from North, South, East and West</wsdl:documentation>
      <wsdl:input message="tns:GenerateMajorRoutesHttpGetIn" />
      <wsdl:output message="tns:GenerateMajorRoutesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateRandomPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes a length and returns a random password of the given length</wsdl:documentation>
      <wsdl:input message="tns:GenerateRandomPasswordHttpGetIn" />
      <wsdl:output message="tns:GenerateRandomPasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTime">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the current system time</wsdl:documentation>
      <wsdl:input message="tns:GetCurrentTimeHttpGetIn" />
      <wsdl:output message="tns:GetCurrentTimeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FactorialAndPrimeNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the factorial and whether the no. is prime or not</wsdl:documentation>
      <wsdl:input message="tns:FactorialAndPrimeNumberHttpGetIn" />
      <wsdl:output message="tns:FactorialAndPrimeNumberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCreditCardNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates a credit card and returns the type of credit card</wsdl:documentation>
      <wsdl:input message="tns:ValidateCreditCardNumberHttpGetIn" />
      <wsdl:output message="tns:ValidateCreditCardNumberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoByZip">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the city and state corresponding to a given zip</wsdl:documentation>
      <wsdl:input message="tns:GetInfoByZipHttpGetIn" />
      <wsdl:output message="tns:GetInfoByZipHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reverses a string</wsdl:documentation>
      <wsdl:input message="tns:ReverseStringHttpGetIn" />
      <wsdl:output message="tns:ReverseStringHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates email address</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailHttpGetIn" />
      <wsdl:output message="tns:ValidateEmailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateZip">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates zip code</wsdl:documentation>
      <wsdl:input message="tns:ValidateZipHttpGetIn" />
      <wsdl:output message="tns:ValidateZipHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePhone">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates US phone</wsdl:documentation>
      <wsdl:input message="tns:ValidatePhoneHttpGetIn" />
      <wsdl:output message="tns:ValidatePhoneHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateNPrimes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the first n prime nos.</wsdl:documentation>
      <wsdl:input message="tns:GenerateNPrimesHttpGetIn" />
      <wsdl:output message="tns:GenerateNPrimesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BMICalculator">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Calculates the body mass index</wsdl:documentation>
      <wsdl:input message="tns:BMICalculatorHttpGetIn" />
      <wsdl:output message="tns:BMICalculatorHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryFromIP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the country to which the ip address belongs</wsdl:documentation>
      <wsdl:input message="tns:GetCountryFromIPHttpGetIn" />
      <wsdl:output message="tns:GetCountryFromIPHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QuickSortMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes comma separated values and sorts them using the Quick Sort algorithm</wsdl:documentation>
      <wsdl:input message="tns:QuickSortMethodHttpGetIn" />
      <wsdl:output message="tns:QuickSortMethodHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Sort">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes comma separated values and sorts them</wsdl:documentation>
      <wsdl:input message="tns:SortHttpGetIn" />
      <wsdl:output message="tns:SortHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IndexOfElement">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes a sequence of comma separated numbers and finds the index of the element after sorting the initial sequence</wsdl:documentation>
      <wsdl:input message="tns:IndexOfElementHttpGetIn" />
      <wsdl:output message="tns:IndexOfElementHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUSHoliday">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes year and month in integer form and returns the list of holidays</wsdl:documentation>
      <wsdl:input message="tns:GetUSHolidayHttpGetIn" />
      <wsdl:output message="tns:GetUSHolidayHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUSHolidaysForYear">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes year as integer and returns the list of holidays in that year</wsdl:documentation>
      <wsdl:input message="tns:GetUSHolidaysForYearHttpGetIn" />
      <wsdl:output message="tns:GetUSHolidaysForYearHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUSHolidaysInDateRange">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes year as integer and returns the list of holidays in that year</wsdl:documentation>
      <wsdl:input message="tns:GetUSHolidaysInDateRangeHttpGetIn" />
      <wsdl:output message="tns:GetUSHolidaysInDateRangeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="GetCoordFromAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the latitude and longitude from a valid address</wsdl:documentation>
      <wsdl:input message="tns:GetCoordFromAddressHttpPostIn" />
      <wsdl:output message="tns:GetCoordFromAddressHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAddressFromCoord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes comma separated latitude and longitude and returns valid address</wsdl:documentation>
      <wsdl:input message="tns:GetAddressFromCoordHttpPostIn" />
      <wsdl:output message="tns:GetAddressFromCoordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EncryptString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Encrypts the message using the passphrase</wsdl:documentation>
      <wsdl:input message="tns:EncryptStringHttpPostIn" />
      <wsdl:output message="tns:EncryptStringHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DecryptString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Decrypts the message using the passphrase</wsdl:documentation>
      <wsdl:input message="tns:DecryptStringHttpPostIn" />
      <wsdl:output message="tns:DecryptStringHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AsciiConversion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes a string and returns its ascii value</wsdl:documentation>
      <wsdl:input message="tns:AsciiConversionHttpPostIn" />
      <wsdl:output message="tns:AsciiConversionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageFromAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes a valid address and returns a google image url</wsdl:documentation>
      <wsdl:input message="tns:GetImageFromAddressHttpPostIn" />
      <wsdl:output message="tns:GetImageFromAddressHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WordCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes a sentence and returns the word count</wsdl:documentation>
      <wsdl:input message="tns:WordCountHttpPostIn" />
      <wsdl:output message="tns:WordCountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends an email to the input email id from a default email id</wsdl:documentation>
      <wsdl:input message="tns:SendEmailHttpPostIn" />
      <wsdl:output message="tns:SendEmailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateMajorRoutes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Computes the route to the given address from North, South, East and West</wsdl:documentation>
      <wsdl:input message="tns:GenerateMajorRoutesHttpPostIn" />
      <wsdl:output message="tns:GenerateMajorRoutesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateRandomPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes a length and returns a random password of the given length</wsdl:documentation>
      <wsdl:input message="tns:GenerateRandomPasswordHttpPostIn" />
      <wsdl:output message="tns:GenerateRandomPasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTime">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the current system time</wsdl:documentation>
      <wsdl:input message="tns:GetCurrentTimeHttpPostIn" />
      <wsdl:output message="tns:GetCurrentTimeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FactorialAndPrimeNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the factorial and whether the no. is prime or not</wsdl:documentation>
      <wsdl:input message="tns:FactorialAndPrimeNumberHttpPostIn" />
      <wsdl:output message="tns:FactorialAndPrimeNumberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCreditCardNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates a credit card and returns the type of credit card</wsdl:documentation>
      <wsdl:input message="tns:ValidateCreditCardNumberHttpPostIn" />
      <wsdl:output message="tns:ValidateCreditCardNumberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoByZip">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the city and state corresponding to a given zip</wsdl:documentation>
      <wsdl:input message="tns:GetInfoByZipHttpPostIn" />
      <wsdl:output message="tns:GetInfoByZipHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reverses a string</wsdl:documentation>
      <wsdl:input message="tns:ReverseStringHttpPostIn" />
      <wsdl:output message="tns:ReverseStringHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates email address</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailHttpPostIn" />
      <wsdl:output message="tns:ValidateEmailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateZip">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates zip code</wsdl:documentation>
      <wsdl:input message="tns:ValidateZipHttpPostIn" />
      <wsdl:output message="tns:ValidateZipHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePhone">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates US phone</wsdl:documentation>
      <wsdl:input message="tns:ValidatePhoneHttpPostIn" />
      <wsdl:output message="tns:ValidatePhoneHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateNPrimes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the first n prime nos.</wsdl:documentation>
      <wsdl:input message="tns:GenerateNPrimesHttpPostIn" />
      <wsdl:output message="tns:GenerateNPrimesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BMICalculator">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Calculates the body mass index</wsdl:documentation>
      <wsdl:input message="tns:BMICalculatorHttpPostIn" />
      <wsdl:output message="tns:BMICalculatorHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryFromIP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the country to which the ip address belongs</wsdl:documentation>
      <wsdl:input message="tns:GetCountryFromIPHttpPostIn" />
      <wsdl:output message="tns:GetCountryFromIPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QuickSortMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes comma separated values and sorts them using the Quick Sort algorithm</wsdl:documentation>
      <wsdl:input message="tns:QuickSortMethodHttpPostIn" />
      <wsdl:output message="tns:QuickSortMethodHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Sort">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes comma separated values and sorts them</wsdl:documentation>
      <wsdl:input message="tns:SortHttpPostIn" />
      <wsdl:output message="tns:SortHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IndexOfElement">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes a sequence of comma separated numbers and finds the index of the element after sorting the initial sequence</wsdl:documentation>
      <wsdl:input message="tns:IndexOfElementHttpPostIn" />
      <wsdl:output message="tns:IndexOfElementHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUSHoliday">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes year and month in integer form and returns the list of holidays</wsdl:documentation>
      <wsdl:input message="tns:GetUSHolidayHttpPostIn" />
      <wsdl:output message="tns:GetUSHolidayHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUSHolidaysForYear">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes year as integer and returns the list of holidays in that year</wsdl:documentation>
      <wsdl:input message="tns:GetUSHolidaysForYearHttpPostIn" />
      <wsdl:output message="tns:GetUSHolidaysForYearHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUSHolidaysInDateRange">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes year as integer and returns the list of holidays in that year</wsdl:documentation>
      <wsdl:input message="tns:GetUSHolidaysInDateRangeHttpPostIn" />
      <wsdl:output message="tns:GetUSHolidaysInDateRangeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCoordFromAddress">
      <soap:operation soapAction="http://tempuri.org/GetCoordFromAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressFromCoord">
      <soap:operation soapAction="http://tempuri.org/GetAddressFromCoord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptString">
      <soap:operation soapAction="http://tempuri.org/EncryptString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptString">
      <soap:operation soapAction="http://tempuri.org/DecryptString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsciiConversion">
      <soap:operation soapAction="http://tempuri.org/AsciiConversion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageFromAddress">
      <soap:operation soapAction="http://tempuri.org/GetImageFromAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WordCount">
      <soap:operation soapAction="http://tempuri.org/WordCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateMajorRoutes">
      <soap:operation soapAction="http://tempuri.org/GenerateMajorRoutes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateRandomPassword">
      <soap:operation soapAction="http://tempuri.org/GenerateRandomPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTime">
      <soap:operation soapAction="http://tempuri.org/GetCurrentTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FactorialAndPrimeNumber">
      <soap:operation soapAction="http://tempuri.org/FactorialAndPrimeNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCreditCardNumber">
      <soap:operation soapAction="http://tempuri.org/ValidateCreditCardNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoByZip">
      <soap:operation soapAction="http://tempuri.org/GetInfoByZip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <soap:operation soapAction="http://tempuri.org/ReverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmail">
      <soap:operation soapAction="http://tempuri.org/ValidateEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateZip">
      <soap:operation soapAction="http://tempuri.org/ValidateZip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePhone">
      <soap:operation soapAction="http://tempuri.org/ValidatePhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateNPrimes">
      <soap:operation soapAction="http://tempuri.org/GenerateNPrimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BMICalculator">
      <soap:operation soapAction="http://tempuri.org/BMICalculator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryFromIP">
      <soap:operation soapAction="http://tempuri.org/GetCountryFromIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuickSortMethod">
      <soap:operation soapAction="http://tempuri.org/QuickSortMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sort">
      <soap:operation soapAction="http://tempuri.org/Sort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IndexOfElement">
      <soap:operation soapAction="http://tempuri.org/IndexOfElement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSHoliday">
      <soap:operation soapAction="http://tempuri.org/GetUSHoliday" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSHolidaysForYear">
      <soap:operation soapAction="http://tempuri.org/GetUSHolidaysForYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSHolidaysInDateRange">
      <soap:operation soapAction="http://tempuri.org/GetUSHolidaysInDateRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCoordFromAddress">
      <soap12:operation soapAction="http://tempuri.org/GetCoordFromAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressFromCoord">
      <soap12:operation soapAction="http://tempuri.org/GetAddressFromCoord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptString">
      <soap12:operation soapAction="http://tempuri.org/EncryptString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptString">
      <soap12:operation soapAction="http://tempuri.org/DecryptString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsciiConversion">
      <soap12:operation soapAction="http://tempuri.org/AsciiConversion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageFromAddress">
      <soap12:operation soapAction="http://tempuri.org/GetImageFromAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WordCount">
      <soap12:operation soapAction="http://tempuri.org/WordCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="http://tempuri.org/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateMajorRoutes">
      <soap12:operation soapAction="http://tempuri.org/GenerateMajorRoutes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateRandomPassword">
      <soap12:operation soapAction="http://tempuri.org/GenerateRandomPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTime">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FactorialAndPrimeNumber">
      <soap12:operation soapAction="http://tempuri.org/FactorialAndPrimeNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCreditCardNumber">
      <soap12:operation soapAction="http://tempuri.org/ValidateCreditCardNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoByZip">
      <soap12:operation soapAction="http://tempuri.org/GetInfoByZip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <soap12:operation soapAction="http://tempuri.org/ReverseString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmail">
      <soap12:operation soapAction="http://tempuri.org/ValidateEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateZip">
      <soap12:operation soapAction="http://tempuri.org/ValidateZip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePhone">
      <soap12:operation soapAction="http://tempuri.org/ValidatePhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateNPrimes">
      <soap12:operation soapAction="http://tempuri.org/GenerateNPrimes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BMICalculator">
      <soap12:operation soapAction="http://tempuri.org/BMICalculator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryFromIP">
      <soap12:operation soapAction="http://tempuri.org/GetCountryFromIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuickSortMethod">
      <soap12:operation soapAction="http://tempuri.org/QuickSortMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sort">
      <soap12:operation soapAction="http://tempuri.org/Sort" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IndexOfElement">
      <soap12:operation soapAction="http://tempuri.org/IndexOfElement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSHoliday">
      <soap12:operation soapAction="http://tempuri.org/GetUSHoliday" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSHolidaysForYear">
      <soap12:operation soapAction="http://tempuri.org/GetUSHolidaysForYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSHolidaysInDateRange">
      <soap12:operation soapAction="http://tempuri.org/GetUSHolidaysInDateRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetCoordFromAddress">
      <http:operation location="/GetCoordFromAddress" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressFromCoord">
      <http:operation location="/GetAddressFromCoord" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptString">
      <http:operation location="/EncryptString" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptString">
      <http:operation location="/DecryptString" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsciiConversion">
      <http:operation location="/AsciiConversion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageFromAddress">
      <http:operation location="/GetImageFromAddress" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WordCount">
      <http:operation location="/WordCount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <http:operation location="/SendEmail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateMajorRoutes">
      <http:operation location="/GenerateMajorRoutes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateRandomPassword">
      <http:operation location="/GenerateRandomPassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTime">
      <http:operation location="/GetCurrentTime" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FactorialAndPrimeNumber">
      <http:operation location="/FactorialAndPrimeNumber" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCreditCardNumber">
      <http:operation location="/ValidateCreditCardNumber" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoByZip">
      <http:operation location="/GetInfoByZip" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <http:operation location="/ReverseString" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmail">
      <http:operation location="/ValidateEmail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateZip">
      <http:operation location="/ValidateZip" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePhone">
      <http:operation location="/ValidatePhone" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateNPrimes">
      <http:operation location="/GenerateNPrimes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BMICalculator">
      <http:operation location="/BMICalculator" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryFromIP">
      <http:operation location="/GetCountryFromIP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuickSortMethod">
      <http:operation location="/QuickSortMethod" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sort">
      <http:operation location="/Sort" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IndexOfElement">
      <http:operation location="/IndexOfElement" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSHoliday">
      <http:operation location="/GetUSHoliday" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSHolidaysForYear">
      <http:operation location="/GetUSHolidaysForYear" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSHolidaysInDateRange">
      <http:operation location="/GetUSHolidaysInDateRange" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetCoordFromAddress">
      <http:operation location="/GetCoordFromAddress" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressFromCoord">
      <http:operation location="/GetAddressFromCoord" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptString">
      <http:operation location="/EncryptString" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptString">
      <http:operation location="/DecryptString" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsciiConversion">
      <http:operation location="/AsciiConversion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageFromAddress">
      <http:operation location="/GetImageFromAddress" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WordCount">
      <http:operation location="/WordCount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <http:operation location="/SendEmail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateMajorRoutes">
      <http:operation location="/GenerateMajorRoutes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateRandomPassword">
      <http:operation location="/GenerateRandomPassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTime">
      <http:operation location="/GetCurrentTime" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FactorialAndPrimeNumber">
      <http:operation location="/FactorialAndPrimeNumber" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCreditCardNumber">
      <http:operation location="/ValidateCreditCardNumber" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoByZip">
      <http:operation location="/GetInfoByZip" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <http:operation location="/ReverseString" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmail">
      <http:operation location="/ValidateEmail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateZip">
      <http:operation location="/ValidateZip" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePhone">
      <http:operation location="/ValidatePhone" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateNPrimes">
      <http:operation location="/GenerateNPrimes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BMICalculator">
      <http:operation location="/BMICalculator" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryFromIP">
      <http:operation location="/GetCountryFromIP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuickSortMethod">
      <http:operation location="/QuickSortMethod" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sort">
      <http:operation location="/Sort" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IndexOfElement">
      <http:operation location="/IndexOfElement" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSHoliday">
      <http:operation location="/GetUSHoliday" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSHolidaysForYear">
      <http:operation location="/GetUSHolidaysForYear" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSHolidaysInDateRange">
      <http:operation location="/GetUSHolidaysInDateRange" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://webstrar6.fulton.asu.edu/page0/page00/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://webstrar6.fulton.asu.edu/page0/page00/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="http://webstrar6.fulton.asu.edu/page0/page00/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="http://webstrar6.fulton.asu.edu/page0/page00/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>